

body {
	font-family: 'Raleway', sans-serif;
	padding: 0px;
	margin: 0px;
	display: block;
	width: 100%;
}

small {font-size: 9px;}
a, button{cursor: pointer}
header {
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
}
header, footer {
	background: #252525;
	color: white;
	max-height: 100px;
}

input.form-control{
	font-size: 10px;
	background: inherit;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 8px 10px;
	width: 100%;
}
select.select-list {
	border: 1px solid white;
	border-radius: 5px;
	padding: 8px 10px;
	width: 100%;
	background: inherit;
	color: white;
	font-size: 10px;
}
option{
	background: inherit;
	color: white;
	font-size: 10px;
}
hr {
	margin: 20px 0;
	background: #ff9000;
	height: 3px;
	border: none;
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}

.container{margin: 0 auto!important;position: relative}
.form-group{    margin-bottom: 10px;}
.hidden{display: none!important;}
.text-center{text-align: center}
.text-right{text-align: right;}
.text-left{text-align: left;}
.pull-left{float:left;}
.pull-right{float:right;}
.w-100{	width: 100px;}
.w-200{	width: 200px;}
.w-300{	width: 300px;}
.clearfix:after{content:'';display: block;clear:both}

.btn{
	position: relative;
	padding: 11px 16px;
	border-radius: 2px;
}
.btn-primary{
	background: #ff9000;
	color:white;
	border:none;
	box-shadow: 0px 8px 0px -5px #a86002;
}
.btn-primary:hover{
	background:#ffa634;
}

.logo{
	display:block;
}
.logo img{width:75%; margin: 0 auto;}
.header-menu{line-height: 70px;}
.header-menu ul{display:block;padding:0px;}
.header-menu ul li:nth-child(1){padding:0;}
.header-menu ul li{
	padding-left: 26px;
	font-size: 12px;
	display: inline-block;}
.header-menu ul li a{text-decoration:none; color:white;
	display: block;
	line-height: 23px;

}
.header-menu ul li a:hover {
	border-bottom: 2px solid #ff9000;
}

.main-information {
	padding: 28px 0px;
	font-size: 1em;
}
.main-information a{color:#ff9000; text-decoration:none;}
.zayavka{
	line-height: 95px;}

.wrapper{margin-top: 100px;}
.container .header-block{font-size: 2em;text-align: center;font-weight: bold}
.container .subheader-block {
	color: #d3d3d3;
	text-align: center;
}
.container .header-block.with-border:after{
	margin-top: 15px!important;
	content: "";
	display: block;
	height: 3px;
	background: #ff9000;
	margin: 0 auto;
}
.container .body-block{margin-top: 40px;}
.container .footer-block{}


#main-screen{
	padding: 160px 0 80px;
	background-image: url(/assets/img/kak_podobr_klining.jpg);
	background-position: top;
	background-size: cover;
	text-align: center;
}
#main-screen .title{ width: 84%;
	font-size: 24px;
	margin: 0 auto;}
#main-screen .subtitle{
	font-size: 24px;
}
#main-screen .control-panel{
	margin: 50px 0;
}

#what_we_do{padding: 120px 60px;}
#what_we_do .container .header-block.with-border:after{width:300px}
#what_we_do .card-item{padding: 10px 20px;
	text-align: left;}
#what_we_do .card-item img{
	max-width: 30%;
	margin: 0 0 15px 0;

}
#what_we_do .card-item .card-title{
	font-weight: bold;
	font-size: 16px;
}
#what_we_do .card-item .card-body{
	padding: 0 10px 0 0;
	color:#111111;
	font-size: 13px;
	margin-top: 15px;
}

#our_services{padding: 80px 60px;background: #252525;}
#our_services .container .header-block{color:white;}
#our_services .container .header-block.with-border:after{width:100px}
#our_services .container .footer-block {
	color: #d3d3d3;
	text-align: center;
}
#our_services .card-item{
	min-height: 270px;
	cursor:pointer;
	text-align: center;
	padding: 35px;
	margin: 20px 10px;
	border: 3px solid #ff9000;
}
#our_services .card-item img{
	max-width: 50%;}
#our_services .card-item .card-title{
	margin-top: 20px;
	color:white}
#our_services .card-item:hover{background:#ff9000}

#cta {
	position: relative;
	background-size: contain;
	background-image: url(/assets/img/blob1.jpg);
	padding: 60px;
	background-position: center;
}
#cta .call-action-form{
	margin-right: 13%;
	border: 3px solid white;
	border-radius: 5px;
	max-width: 270px;
	padding: 30px;
	color: white;
	font-size: 10px;
	text-align: center;
	float: right;
}
#cta .container .header-block {
	color: white;
}
#cta form .form-header{
	margin-bottom: 20px;
}
#cta form .form-body{}
#cta .body-block{
	margin-top:50px;
}
#cta form button{
	background: inherit;
	box-shadow: none;
	font-size: 12px;
}
#cta img.cta-image {
	position: absolute;
	left: 8%;
	bottom: 0;
	max-height: 360px;
}

#why_us{padding-top: 60px;}
#why_us .container .header-block.with-border:after{width:300px}
#why_us .panel{
	padding: 70px 0;
	background-size: cover;
	width: 100%;
	display: block;
	min-height: 403px;
	background-position: left;
	background-repeat: no-repeat;
}
#why_us .panel:nth-child(2){background-image: url('/assets/img/1.jpg');    margin-top: 30px;}
#why_us .panel:nth-child(3){background-image: url('/assets/img/2.jpg')}
#why_us .panel:nth-child(4){background-image: url('/assets/img/3.jpg')}
#why_us .panel .title{font-size: 25px;}
#why_us .panel .description{font-size: 16px; padding-right: 20px;}



#testimonials{padding: 60px;
	background: #252525;
	color: white;}
#testimonials .container .header-block.with-border:after{width:300px}
#testimonials .reviews{}
#testimonials .review-item{
	padding: 0 35px;
	color: #d3d3d3;
}
#testimonials .review-item .review-text{font-size: 14px;}
#testimonials .review-item .reviewer-item{
	margin: 20px 0;
}
#testimonials .review-item .reviewer-item img{
	width: 50px;
	float: left;
}
#testimonials .review-item .reviewer-item .reviewer-info{
	margin-left: 65px;
}
#testimonials .review-item .reviewer-item .reviewer-info .name{
	font-size: 12px;
	padding: 10px 0;
}
#testimonials .yotube-video{margin: 20px 0;}
#testimonials .yotube-video img {
	max-width: 100%;
}
#testimonials .partners{margin:30px 0}
#testimonials .partners .partner-item{}
#testimonials .partners .partner-item img{    height: 80px;}

#faq{padding: 60px;}
#faq .container .header-block.with-border:after{width:300px}
#faq .faq-list{
	margin: 20px 0;
}
#faq .faq-list .faq-item{
	border: 3px solid #ff9000;
	border-radius: 10px;
	margin-bottom: 20px;
}
#faq .faq-list .faq-item label{
	text-transform: uppercase;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-weight: bold;
}
#faq .faq-list .faq-item input:checked + label,
#faq .faq-list .faq-item input:checked + label:hover{
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
}
#faq .faq-list .faq-item label:after,
#faq .faq-list .faq-item input:checked + label:after{
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	right: 13px;
	top: 7px;
	background: transparent url(/assets/img/caret-down.png) no-repeat right top;
	background-size: contain;
}
#faq .faq-list .faq-item input:checked + label:after {
	background-image: url('/assets/img/caret-left.png');
}
#faq .faq-list .faq-item input{
	display: none;
}
#faq .faq-list .faq-item article{
	padding: 0px 20px;
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	-ms-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}
#faq .faq-list .faq-item input:checked ~ article {
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	-ms-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
	height: 80px;
}
#faq .faq-list .faq-item article p{
	font-style: italic;
	color: #111;
	font-size: 14px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
#faq .footer-block {
	margin-top: 50px;
}
#faq .footer-block .link{
	padding: 6px 0;
	font-weight: 600;
	font-size:14px;
}
#faq .footer-block .link.with-border{
	border-bottom: 2px solid #ff9000;
}

#promo_banner{
	position: relative;
	background-size: contain;
	background-image: url(/assets/img/blob1.jpg);
	padding: 100px 0;
	background-position: center;
	color: white;
}
#promo_banner .header-block{
	font-size: 2.7em;
}
#promo_banner .subheader-block{
	font-size: 1.3em;
}

/********************************** Слайдер *************************************/
#special_offer{padding: 60px; background: url('/assets/img/special_offer.jpg'); background-size:cover; background-position: center;    color: white; }
#special_offer .slider{}
#special_offer .control{
	top: 40%;
	left: 0;
	position: absolute;
	cursor: pointer;
	background: url(/assets/img/caret-left.png);
	display: block;
	width: 60px;
	height: 60px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#special_offer .control#rightControl{
	transform: rotate(180deg);
	right:0;
	left:inherit;
}

#slideshow #slidesContainer {
	margin:0 auto;
	width:100%;
	min-height:263px;
	overflow:auto; /* разрешаем прокрутку */
	position:relative;
}
#slideshow #slidesContainer .slide {
	text-align: center;
	padding: 25px;
	margin:0 auto;
	width:100%;
	min-height:263px;
}
#slideshow #slidesContainer .slide h2{font-size:2.2em}
#slideshow #slidesContainer .slide .description{
	margin-bottom: 25px;
}
#slideshow #slidesContainer .slide .button-block{
	margin-top:50px;
}


/*modal*/
.modal {
	z-index: 1072;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	outline: 0;
}
.fade {
	opacity: 0;
	transition: opacity .15s linear;
}
.modal.fade .modal-dialog {
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out,-webkit-transform .3s ease-out;
	-webkit-transform: translate(0,-25%);
	transform: translate(0,-25%);
}
.modal-dialog {
	position: relative;
	width: auto;
	margin-top: 2rem!important;
	margin: 0 auto;
	pointer-events: none;
	max-width: 728px;
}
.modal-content {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	outline: 0;
}
.modal-body {
	position: relative;
}
.close:not(:disabled):not(.disabled) {
	cursor: pointer;
}
button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
}
.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}
.fade.show {
	opacity: 1;
}
.modal.show .modal-dialog {
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}
.modal-backdrop {
	z-index: 100;
}
.modal-backdrop.show {
	opacity: .5;
}

.modal#getConsultation .first-block{
	text-align: center;
	color:white;
	background: url('/assets/img/modal-first-block.jpg');
	background-size: contain;
	background-position: center;
}
.modal#getConsultation .first-block .modal-logo{
	margin-top: 40px;
	max-width:80%;
}
.modal#getConsultation .first-block .top-list{
	padding: 40px 0;
}
.modal#getConsultation .first-block .top-item{
	padding: 0 40px;
	font-size: 17px;

}
.modal#getConsultation .first-block .top-item:after{
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	background: #ff9000;
	border-radius: 100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.modal#getConsultation .first-block .top-item:last-child:after{display: none}
.modal#getConsultation .second-block{
	text-align: center;
	background: url('/assets/img/modal-second-block.jpg');
	background-size: contain;
	background-position: center;
}
.modal#getConsultation .second-block .modal-form-block{
	padding: 40px 10px 60px;
}
.modal#getConsultation .second-block .modal-form-block .modal-title-form{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
.modal#getConsultation .second-block .modal-form-block .modal-form{
	border: 3px solid black;
	border-radius: 8px;
	padding: 10px 40px;
	margin: 0 15px;
}
.modal#getConsultation .second-block .modal-form-block .modal-form .text{
	font-size: 12px;
	display: block;
	margin: 10px 0 20px;
}
.modal#getConsultation .second-block .modal-form-block .modal-form input{
	border:1px solid black;
	padding: 8px 10px;
	border-radius: 8px;
}
.modal#getConsultation .second-block .modal-form-block .modal-form select{
	color:black;
	border:1px solid black;
	padding: 8px 10px;
	border-radius: 8px;
}
.modal#getConsultation .second-block .modal-form-block .modal-form textarea{
	width: 100%;
	border:1px solid black;
	padding: 8px 10px;
	border-radius: 8px;
}
.modal#getConsultation .close{
	right: 0;
	z-index: 2000;
	position: absolute;
	top: 10px;
}
.modal#getConsultation ::-webkit-input-placeholder {color:#000!important;}
.modal#getConsultation ::-moz-placeholder          {color:#000;}/* Firefox 19+ */
.modal#getConsultation :-moz-placeholder           {color:#000;}/* Firefox 18- */
.modal#getConsultation :-ms-input-placeholder      {color:#000;}


#about-main{
	margin-top: 120px;
}
#about-main .title{
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 20px;
}
#about-main .subtitle{
	font-size: 15px;
	padding: 0 60px;
	text-align: center;
}
#about-main .description{
	font-size: 15px;
	margin-top: 20px;
}
#about-main .block-border{
	border: 3px solid;
	font-weight: bold;
	text-align: center;
	font-size: 17px;
	padding: 12px 50px;
	margin-top: 40px;
	margin-bottom: 40px;
}
#about-main .block-border.primari-border{
	border-color: #ff9000;
}

#team{
	padding: 60px 0;
	margin-top: 60px;
	background: #252525;
	color: white;
}
#team .header-block.with-border:after{
	width:300px;
}
#team .text{
	font-size:15px;
}
#team .testimonials-team-list{
	margin-top: 30px;
}
#team .testimonials-team-list .item-testimonial{text-align: center;padding: 0 45px;}
#team .testimonials-team-list .item-testimonial img{
	margin-top: 10px;
	max-height: 120px;
	margin: 0 auto;
	margin-bottom: 20px;
}
#team .testimonials-team-list .item-testimonial .title{font-weight: 600;}
#team .testimonials-team-list .item-testimonial .description{
	text-align: left;
}
#team .testimonials-team-list .item-testimonial .description ul{
	font-size:13px;
}
#team .testimonials-team-list .item-testimonial .description ul li{
	margin-bottom: 7px;
	list-style-type: square;
}

#about-additional-text-block{
	padding: 80px 0;
	background: url(/assets/img/uborka-kottega-art.png);
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;

}
#about-additional-text-block .text-block{}

#callback-block{
	padding: 80px 0;
	background-position: center;
	color: white;
	position: relative;
	background: url(/assets/img/STOCK_Vector_set_of_cleaning_tools/21_Y2xlYW5pbmdfMS0yMQ.jpg);
	background-size: contain;

}
#callback-block:before{
	content: '';
	display: block;
	background-color: #000;
	top: 0;
	left: 0;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 100%;
}
#callback-block .container .body-block{margin:0;}
#callback-block .call-back-form{
	padding: 30px 50px;
}
#callback-block .call-back-form .text{
	font-size: 22px;
	display: block;
	text-align: center;
	padding: 10px 0 40px;
}
#callback-block .call-back-form  .inline-form-group{
	display: block;
	padding: 0 50px;
}
#callback-block .call-back-form .inline-form-group .form-group{
	float: left;
	width: 33%;
	text-align: center;
	padding: 0 40px;
}
#callback-block .call-back-form input{
	padding: 12px 10px;
}

#uslugi{
	margin-top: 130px;
}
#uslugi .header-block.with-border:after{
	width:300px;
}
#uslugi .horizontal-tabs{
	margin-top: 90px;
}
#uslugi .horizontal-tabs .tab-header-block{}
#uslugi .horizontal-tabs .tab-header-block .item-tab{
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	border-bottom: 2px solid #ff9000;
	padding: 20px 10px;
	display: block;
	font-weight: 600;
}
#uslugi .horizontal-tabs .tab-header-block .item-tab:hover{
	color:white;
	background: #ff9000;
}
#uslugi .horizontal-tabs .tab-header-block .item-tab.active{
	border-bottom: 0;
	border-right: 2px solid #ff9000;
	border-top: 6px solid #ff9000;
}
#uslugi .horizontal-tabs .tab-contants-block .tab-content{
	margin-bottom: 80px;
	display: none;
	padding: 80px;
}
#uslugi .horizontal-tabs .tab-contants-block .tab-content.active{
	display: block;
	border-right:2px solid #ff9000;
}
#uslugi .horizontal-tabs .tab-contants-block {
	margin-right: -15px;
	margin-left: -15px;
}
#uslugi .horizontal-tabs .tab-contants-block .tab-content .text{}
#uslugi .horizontal-tabs .tab-contants-block .tab-content img{}
#uslugi .horizontal-tabs .tab-contants-block .tab-content .title{}
#uslugi .horizontal-tabs .tab-contants-block .tab-content .description{}
#uslugi .horizontal-tabs .tab-contants-block .tab-content .title.with-border
#uslugi .horizontal-tabs .tab-contants-block .tab-content table{}
#uslugi .horizontal-tabs .tab-contants-block .tab-content table th{}
#uslugi .horizontal-tabs .tab-contants-block .tab-content table tr{}
#uslugi .horizontal-tabs .tab-contants-block .tab-content table td{}

#vertikal-tab-block{}
#vertikal-tab-block .horizontal-tab-list .tab-header-block{}
#vertikal-tab-block .horizontal-tab-list .tab-header-block .item-tab{}
#vertikal-tab-block .horizontal-tab-list .tab-header-block .item-tab img{}
#vertikal-tab-block .horizontal-tab-list .tab-header-block .item-tab .content{}
#vertikal-tab-block .horizontal-tab-list .tab-header-block .item-tab .content .title{}
#vertikal-tab-block .horizontal-tab-list .tab-header-block .item-tab .content .description{}
#vertikal-tab-block .horizontal-tab-list .tab-contants-block{}
#vertikal-tab-block .horizontal-tab-list .tab-contants-block .tab-content{}
#vertikal-tab-block .horizontal-tab-list .tab-contants-block .tab-content img{}
#vertikal-tab-block .horizontal-tab-list .tab-contants-block .tab-content .head-title{}
#vertikal-tab-block .horizontal-tab-list .tab-contants-block .head-title .description{}




